<div class="news">
  <div class="container">
    <h3 class="news__title section-title">Latest News</h3>
    <div class="store__text text">Praesent mauris. Fusce nec tellus sed augue semper porta</div>

    <div class="news__items">

      <div class="news__item">
        <img class="news__image" src="../../images/news-item-1.jpg" alt="girl" >

        <div class="news__inner">

          <h5 class="news__item-title">Porem ipsum dolor sit ame</h5>
          <span class="news__item-subtitle">Lorem Ipsum. Proin gravida nibh</span>

          <p class="news__item-text">Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum.</p>

          <div class="news__links">
            <button class="shop-now news__button">Read More</button>

            <div class="news__comments">
              <a class="news__link news__link--heart" href="#"></a>
              <a class="news__link news__link--message" href="#"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="news__item">
        <img class="news__image" src="../../images/news-item-2.jpg" alt="girl" >

        <div class="news__inner">

          <h5 class="news__item-title">Porem ipsum dolor sit ame</h5>
          <span class="news__item-subtitle">Lorem Ipsum. Proin gravida nibh</span>

          <p class="news__item-text">Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum.</p>

          <div class="news__links">
            <button class="shop-now news__button">Read More</button>

            <div class="news__comments">
              <a class="news__link news__link--heart" href="#"></a>
              <a class="news__link news__link--message" href="#"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="news__item">
        <img class="news__image" src="../../images/news-item-3.jpg" alt="girl" >

        <div class="news__inner">

          <h5 class="news__item-title">Porem ipsum dolor sit ame</h5>
          <span class="news__item-subtitle">Lorem Ipsum. Proin gravida nibh</span>

          <p class="news__item-text">Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum.</p>

          <div class="news__links">
            <button class="shop-now news__button">Read More</button>

            <div class="news__comments">
              <a class="news__link news__link--heart" href="#"></a>
              <a class="news__link news__link--message" href="#"></a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>