.news {
   margin-bottom: 80px;

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 350px;
    width: 100%;
    background-color: white;
  }

  &__inner {
    padding: 0 30px 25px;
  }

  &__image {
    min-height: 235px;
    object-fit: cover;
    margin-bottom: 30px;
  }

  &__item-title {
    color: #515151;
    font-size: 18px;
    font-weight: 800;
  }

  &__item-subtitle {
    display: block;
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__item-text {
    color: #494949;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;  
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__comments {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__link {
    display: block;
    width: 42px;
    height: 16px;
    padding: 0 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__link--heart {
    background-image: url(../../images/icons/heart-solid.svg);
    border-right: 1px solid #a8a8a8;
  }

  &__link--message {
    background-image: url(../../images/icons/comment-solid.svg);
  }
  &__button {
    width: 100px;
    height: 30px;
    margin: 0;
    font-weight: 700;
    font-size: 13px;
  }
}


@media (max-width: 768px) {
  .news {
   
     &__item {
       margin: 0 auto 20px;
     }
  } 
}