<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__item footer__item--address">

        <div class="footer__title">
          About company
        </div>

        <div class="footer__text">
           This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.
        </div>

        <address class="footer__address">
          <a class="footer__address-link footer__link--address" href="#">0123  Main Road, Your City, NY 123456</a>
          <a class="footer__address-link footer__link--telefone" href="tel:00023456789">(000) 2345 - 6789</a>
          <a class="footer__address-link footer__link--mail" href="mailto:info@psdfreebies.com">info@psdfreebies.com</a>
        </address>
      </div>

      <div class="footer__item footer__item--menu">

        <div class="footer__title">
          My Account
        </div>

        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a href="#" class="footer__link">My Account</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__link">Contact</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__link">Frequently Questions</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__link">Portfolio</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__link">Checkout</a>
          </li>
        </ul>
      </div>

      <div class="footer__item footer__item--menu">

        <div class="footer__title">
          Product
        </div>

        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a href="#" class="footer__link">About Us</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__link">Blog</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__link">Contact</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__link">Services</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__link">Services</a>
          </li>
        </ul>
      </div>

      <div class="footer__item footer__item--contacts">

        <div class="footer__title">
          Follow us:
        </div>

        <ul class="footer__menu footer__menu--contacts">
          <li class="footer__menu-list">
            <a href="#" class="footer__link">Google+</a>
          </li>
          <li class="footer__menu-list">
            <a href="#" class="footer__link">Pinterest</a>
          </li>
          <li class="footer__menu-list">
            <a href="#" class="footer__link">Vimeo</a>
          </li>
          <li class="footer__menu-list">
            <a href="#" class="footer__link">Facebook</a>
          </li>
          <li class="footer__menu-list">
            <a href="#" class="footer__link">Twitter</a>
          </li>
          <li class="footer__menu-list">
            <a href="#" class="footer__link">RSS</a>
          </li>
        </ul>

        <div class="footer__title">
          Payment Methods
        </div>

        <img class="footer__cards" src="../../images/cards.png" alt="Карточки">
      </div>

    </div>

    <nav class="footer__down-menu">
      <ul class="footer__menu footer__menu--stripe">
        <li class="footer__menu-item">
          <a href="#" class="footer__link">Sitemap</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__link">Searchs</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__link">Advance</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__link">Searchs</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__link">Searchs</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__link">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>

</footer>