<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>

<div class="wrapper">


    {% include 'app/modules/_header/_header.njk' %}

    <main class="main">
      <div class="container">
        {% include 'app/modules/_products/_products.njk' %}

        {% include 'app/modules/_news/_news.njk' %}

        {% include 'app/modules/_discount/_discount.njk' %}
      </div>
      {% include 'app/modules/_brands/_brands.njk' %}

    </main>

    {% include 'app/modules/_footer/_footer.njk' %}
    
    </div>
    <!---->
    <script src="js/main.min.js"></script>
  </body>
</html>