<header class="header">

  <div class="header__top">
    <div class="container">
      <div class="header__up">
        <span class="header__welcome">Hello guys! Welcome to MeShop  </span>
        <span class="header__mail">Email: <a class="header__mail-link" href="mailto:free@psdfreebies.com">free@psdfreebies.com</a>
        </span>

        <a class="header__lang header__lang--color">En</a>
        <a class="header__money header__lang--color">Usd</a>

      </div>
      <div class="header__down">
        <div class="header__logo">
          <a class="header__company-name" href="#" >MeStore</a>
        </div>

        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="#" class="menu__link">Home</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Shop</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Product</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Blog</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Portfolio</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Page</a>
            </li>
          </ul>
        </nav>

        <div class="header__search header__personals">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="header__cart header__personals">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="header__center">
    <div class="container">
      <div class="title">
        <span class="title__up title__text">Fashion</span>
        <span class="title__down title__text">Carnival</span>
      </div>
      <span class="header__year">2022</span>
      <div class="header__text">Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.</div>
      <button class="shop-now">Shop Now</button>
    </div>
  </div>

</header>